@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background:#f5f5f5;

    @apply bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 min-h-screen;
  font-family: 'Inter', sans-serif;
}